<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
         <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>

        <div class="container">
            <header>
                {{>header}}
                {{>navbar}}
            </header>
            <p>
                {{content}}
            </p>
            {{>footer}}
        </div>

    </body>
</html>